.column-section-container{
  /* background: linear-gradient(135deg, #f0fbfb, #f3f2dd); */
  background: linear-gradient(135deg, #f0fbfb, #f3f2dd);
  min-height: 100vh;
  background-image: url(/src/assets/metch-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 96px;
}


.upload-cardP .title{
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #222222;
  letter-spacing: -1px;
  line-height: 36px;
}


.upload-cardP .pfichiersR{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #222222;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: -12px;
}

.upload-cardP {
  flex: 1;
  width: 613px;
  height: 339px;
  border-radius: 8px;
  padding: 24px 48px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
  border: 1px solid #606060;
}



.upload-cardP h4 {
    color: #222222;
    font-family: Poppins;
    letter-spacing: -1px;
    size: 24px;
    line-height: 32px;
}

.upload-cardP p {
    color: #555;
    font-weight: 400;
  font-family: Lato;
  size: 14px;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -39px;
}

.file-name {
  display: flex;
  flex-direction: column;
}

.file-title {
  font-weight: 500px;
  /* font-weight: bold; */
  font-family: 'Poppins', sans-serif;
  font-style: Medium;
  line-height: 36px;
  letter-spacing: 0px;
  font-size: 18px;
  color: #222222;
}

.selected-col {
  font-size: 12px;
  color: #343434;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.25px;
}

.highlight {
  color: #1A6D6A;
  font-weight: bold;
}

.columns-list {
  position: relative;
  display: inline-block;
}

.columns-list select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 40px; 


  width: 100%;
  padding: 16px 24px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background-color: #E8F2F1;
  border: 1px solid #E8F2F1;
  border-radius: 8px;
  color: #222222;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.columns-list::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px; 
  transform: translateY(-50%);

  width: 12px;
  height: 12px;
  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;

  pointer-events: none; 
}


.columns-list select:focus {
  outline: none;
  border-color: #66c2c2;
  box-shadow: 0 0 0 2px rgba(102, 194, 194, 0.3);
}

.file-name2 {
  display: flex;
  flex-direction: column;
}

.file-title2 {
  font-weight: 500px;
  font-weight: bold;
  font-family: Poppins;
  font-style: Medium;
  line-height: 36px;
  letter-spacing: 0px;
  font-size: 18px;
  color: #222222;
}

.selected-col2 {
  font-size: 12px;
  color: #343434;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.25px;
}

.highlight2 {
  color: #1A6D6A;
  font-weight: bold;
}

.columns-list2 {
  position: relative;
  display: inline-block;
}


.columns-list2 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 40px; 


  width: 100%;
  padding: 16px 24px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background-color: #E8F2F1;
  border: 1px solid #E8F2F1;
  border-radius: 8px;
  color: #222222;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.columns-list2::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px; 
  transform: translateY(-50%);

  width: 12px;
  height: 12px;
  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;

  pointer-events: none; 
}


.columns-list2 select:focus {
  outline: none;
  border-color: #66c2c2;
  box-shadow: 0 0 0 2px rgba(102, 194, 194, 0.3);
}

.file-separator {
  border: 0.25px;
  width: 506px;
  height: 0px;
  border-top: 1px solid #606060;
  margin: 20px 0;
}

