/* Style général du header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 96px;
  border-bottom: 0.5px solid #7E7E7E;
  background: #fff;
}

/* Logo aligné à gauche */
.navbar-logo {
  display: flex;
  align-items: center;
}

/* Liens de navigation */
.navbar-links a {
  margin-left: 48px;
  color: #434343;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  /* letter-spacing: -0.25px; */
}

/* Optionnel : ajout d’un effet au survol */
.navbar-links a:hover {
  color: #1D7874;
}
